@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Montserrat:ital@1&family=Open+Sans&display=swap');

body {               /*FUENTE DE LETRA Y COLOR DE FONDO DEL BODY PREDETERMINADO*/
	font-family: montserrat;
	background: #151515;
}

/*AQUI HE CENTRADO LOS ROW Y CONTAINERFLUID PARA QUE NO ME SALGAN ESPACIOS EN BLANCO EN LOS EXTREMOS*/					
div.row {
	margin-right: 0px;
}

div.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

/* CAMBIO COLOR DEL SCROLL */
::-webkit-scrollbar {
	width: 11px;
	background: white;
}

::-webkit-scrollbar-thumb {
	width: 100%;
	background: #BF6217;
	border-radius: 2em;
}

/* logo*/
.logo {
	width: 30%;                           /*Tamaño logo*/
}

.editar button {
	margin-right: 20px;
}


/* BOTÓN PARA DESCARGAR EL HORARIO */
.btn {
	align-items: center;
}

.btn-sample {
	color: #ffffff;
	background-color: #BF6217;
	border-radius: 10px;
	font-size: 30px;
	padding: 0.8%;
}

.btn-sample:hover {
	font-size: 31px;
	transition: 0.5s;
	color: #BF6217;
	background-color: #ffffff;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
	color: #ffffff;
	background-color: #9E5214;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
	background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
	background-color: #BF6217;
}

.btn-sample .badge {
	color: #BF6217;
}

/************* MENU NAVEGACION ************/
.navbar {
	background: rgba(0, 0, 0, 0.025);
	backdrop-filter: blur(4px);
}

.navbar-nav a {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
}

.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

.navbar-brand {
	margin-right: 0px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
	color: #fff;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: #bf6217;
}

.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}

/*************  CAROUSEL ****************/
.carousel-item {
	height: 100vh;
	min-height: 300px;
}

.bg-1 {
	background-image: url(img/gym1.jpg);
}

.bg-2 {
	background-image: url(img/gym2.jpg);
}

.bg-3 {
	background-image: url(img/gym3.jpg);
}

.bg-1,
.bg-2,
.bg-3 {
	-webkit-background-size: cover;
	background-size: cover;
}

.carousel-caption {
	bottom: 320px;
	position: absolute;
	z-index: 2;
}

.carousel-caption h5 {
	font-size: 85px;
	text-transform: capitalize;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: 'Moon Dance', cursive;
	color: #bf6217;
}

.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 25px;
	line-height: 1.9;
}

.carousel-caption a {
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px 20px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
	border-radius: 5px;
}

.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1;
}

.carousel-indicators {
	bottom: 65px;
}

.carousel-indicators button {
	width: 100px !important;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-nav {
		text-align: center;
	}

	.navbar-collapse {
		background: #fff;
	}

	.navbar-collapse .nav-item .nav-link {
		color: #000;
	}

	.carousel-caption {
		bottom: 350px;
	}

	.carousel-caption h5 {
		font-size: 65px;
	}

	.carousel-caption p {
		font-size: 18px;
		width: 100%;
	}
}

@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}

	.navbar-collapse .nav-item .nav-link {
		color: #000;
	}

	.carousel-caption {
		bottom: 385px;
	}

	.carousel-caption h5 {
		font-size: 45px;
	}

	.carousel-caption p {
		font-size: 12px;
		width: 100%;
	}

	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}

	.navbar-collapse {
		background: #fff;
	}
}

/* TITULOS DE LAS SECCIONES */
.section-title span {                                    /*Texto alineado, fuente propia, color y márgenes */
	font-family: 'Moon Dance', cursive;
	text-align: center;
	color: #bf6217;
	font-size: 40px;
	margin-bottom: 40px;
}

.section-title h1 {
	font-family: 'Montserrat', sans-serif;                   /*Texto alineado, fuente propia, color y márgenes */
	color: white;
	font-size: 30px;
	margin-bottom: 40px;
}

/************ SOBRE NOSOTROS ****************/
/*EL APARTADO SOBRE NOSOTROS TIENE UN TITULO CON SU ROW Y COL Y DESPUES UN ROW Y 3 COL PARA AÑADIR LOS APARTADOS*/
.choseus-section {
	background: #0a0a0a;
	padding-top: 60px;
	padding-bottom: 20px;
}

.cs-item {
	text-align: center;
	margin-bottom: 30px;
}

.cs-item:hover span {
	background: #bf6217;
	color: #ffffff;
}

.cs-item span {
	height: 90px;
	width: 90px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	display: inline-block;
	color: #bf6217;
	line-height: 90px;
	text-align: center;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	padding-top: 6px;
	justify-content: center;
}

.cs-item h4 {
	color: #ffffff;
	font-size: 28px;
	font-weight: 600;
	margin-top: 24px;
	margin-bottom: 16px;
}

/*********** SECCIÓN CLASES *****************/
/*LA SECCIÓN ESTÁ DIVIDIDA EN 8 CARTAS:
TODAS CON UN MISMO ROW Y CADA UNA CON SU RESPECTIVO COL,
LAS DOS CARTAS DEL FINAL SON DIFERENTES AL RESTO Y VAN JUNTAS */
/*LA SECCIÓN TIENE PADDING Y MARGENES, LUEGO CADA CARTA TIENE LA IMAGEN Y LA PARTE DE ABAJO CON EL NOMBRE DE LA CLASE*/
.classes-section {
	background: #151515;
	padding-bottom: 80px;
	padding-top: 60px;
}

.classes-section .section-title {
	margin-bottom: 35px;
}

.class-item {
	overflow: hidden;
	margin-bottom: 30px;
}

.class-item .ci-pic img {
	min-width: 100%;
}

.class-item .ci-text {
	background: #0a0a0a;
	position: relative;
	padding: 10px 30px 26px 30px;
	z-index: 1;
}

.class-item .ci-text:after {
	position: absolute;
	left: -5px;
	top: -44px;
	height: 100px;
	width: 800px;
	border-top: 4px solid #bf6217;
	background: #0a0a0a;
	content: "";
	-webkit-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
	z-index: -1;
}

.class-item .ci-text span {
	color: #bf6217;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
}

.class-item .ci-text h5 {
	font-size: 20px;
	color: #ffffff;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 4px;
}

.class-item .ci-text h4 {
	font-size: 26px;
	color: #ffffff;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 4px;
}

.class-item .ci-text a {
	display: inline-block;
	width: 46px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	font-size: 24px;
	color: #ffffff;
	position: absolute;
	right: 30px;
	bottom: 26px;
}

/**************** GALERIA DE FOTOS ********************/
/*LA GALERIA DE FOTOS ES PREDETERMINADA DE BOOSTRAP,
TENEMOS EL TITULO DE LAS INSTALACIONES ARRIBA CON SU COL Y ROW,
Y LUEGO TENEMOS EL ROW CON SUS COL EN LOS QUE HAY DOS FOTOS EN CADA,
LUEGO HE METIDO EN EL CSS QUE CUANDO PASES POR ENCIMA BAJE UN POCO LA OPACIDAD*/
.gallery-section {
	padding-top: 80px;
	padding-bottom: 80px;
}

.foto {
	opacity: 1;
}

.foto:hover {
	cursor: pointer;
	opacity: 0.9;
}

/****************** SECCIÓN PRECIOS ********************/
/*3 CARTAS DIVIDIDAS POR COL CON SU TAMAÑO, SIN COLOR DE FONDO, POSICIÓN, MÁRGENES Y PADDING PREDETERMINADOS*/
.pricing-section {					
	background: #151515;
	padding-bottom: 80px;
	padding-top: 60px;
}

.single-price {
	padding-bottom: 25px;
	background: #151515;
	text-align: center;
	overflow: hidden;
	position: relative;
	border-radius: 20px;
	border: 1px solid #bf6217;
	transition: all 0.3s ease-in-out;
}

.single-price a {
	background: #bf6217;
	color: #fff;
	padding: 15px 30px;
	text-decoration: none;
	border-radius: 25px;
	display: inline-block;
}

.single-price:hover {
	cursor: pointer;
	box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
	transform: scale(1.04);
	background-color: white;
	color: black;
}

.tarjeta:hover {
	color: black;
}

.single-price::before {
	content: "";
	width: 100%;
	height: 350px;
	position: absolute;
	top: -150px;
	left: 0;
	transform: skewY(-20deg);
}

.single-price .price-header {
	padding: 20px 20px 60px;
	text-align: left;
	position: relative;
}

.single-price .title {
	font-family: 'Moon Dance', cursive;
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
}

.single-price:hover .title {
	color: black;
}

.single-price .price-value {
	display: inline-block;
	width: 170px;
	height: 110px;
	padding: 15px;
	border-top: none;
	border-bottom: none;
	position: relative;
}

.single-price .value {
	width: 100%;
	height: 100%;
	color: white;
	border: 4px solid #bf6217;
	border-top: none;
	border-bottom: none;
	z-index: 1;
	position: relative;
}

.single-price .value::before,
.single-price .value::after {
	content: "";
	width: 97px;
	height: 97px;
	border: 5px solid #bf6217;
	border-bottom: none;
	border-right: none;
	position: absolute;
	top: -48px;
	left: 50%;
	z-index: -1;
	transform: translateX(-50%) scaleY(0.5) rotate(45deg);
}

.single-price .value::after {
	border-right: 5px solid #bf6217;
	border-bottom: 5px solid #bf6217;
	border-top: none;
	border-left: none;
	top: auto;
	bottom: -48px;
}

.single-price .currency {
	display: inline-block;
	font-size: 30px;
	margin-top: 7px;
	vertical-align: top;
}

.single-price .amount {
	display: inline-block;
	font-size: 40px;
	font-weight: 600;
	line-height: 65px;
}

.single-price .amount span {
	display: inline-block;
	font-size: 30px;
	font-weight: normal;
	vertical-align: top;
	margin-top: -7px;
}

.single-price:hover .amount {
	color: black;
}

.single-price:hover .month {
	color: black;
}

.single-price .month {
	display: block;
	font-size: 16px;
	line-height: 0;
}

.single-price .deals {
	padding: 70px 0 0 0;
	margin-bottom: 20px;
	list-style: none;
	text-align: center;
	transition: all 0.3s ease 0s;
}

.single-price .deals li {
	color: white;
	padding: 7px 0;
	font-size: 20px;
	position: relative;
}

.single-price:hover .deals li {
	color: black;
	padding: 7px 0;
	font-size: 20px;
	position: relative;
}

@media only screen and (max-width: 990px) {
	.single-price {
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 767px) {
	.single-price:before {
		transform: skewY(-15deg);
	}

	.single-price .title {
		font-size: 22px;
	}
}

/************ EQUIPO *******************/
.card-container { 	/*6 CARTAS DIVIDIDAS POR COL CON SU TAMAÑO, COLOR, POSICIÓN, MARGENES Y PADDING PREDETERMINADOS*/
	padding: 100px 0px;
	-webkit-perspective: 1000;
	
}

.profile-card-2 {
	max-width: 300px;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
	background-position: center;
	overflow: hidden;
	position: relative;
	margin: 10px auto;
	cursor: pointer;
	padding-top: 5%;
	border-radius: 10px;
}

.profile-card-2 img {
	transition: all linear 0.25s;
	border-radius: 10px;
}

.profile-card-2 .profile-name {
	position: absolute;
	left: 30px;
	bottom: 70px;
	font-size: 34px;
	color: white;
	text-shadow: 0px 0px 20px rgba(239, 232, 232, 0.5);
	font-weight: bold;
	transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
	position: absolute;
	bottom: 30px;
	right: 30px;
	color: #FFF;
	transition: all linear 0.25s;
}

.fa {
	color: white;
}

.profile-card-2 .profile-username {
	position: absolute;
	bottom: 50px;
	left: 30px;
	color: #FFF;
	font-size: 17px;
	transition: all linear 0.25s;
}

.profile-card-2 .profile-icons .fa {
	margin: 5px;
}

.profile-card-2:hover img {
	filter: grayscale(100%);
}

.profile-card-2:hover .profile-name {
	bottom: 80px;
}

.profile-card-2:hover .profile-username {
	bottom: 60px;
}

.profile-card-2:hover .profile-icons {
	right: 40px;
}

/************** SECCION CONTACTO *********************/
/* LA SECCIÓN DE CONTACTO ESTÁ DIVIDIDA EN 3 PARTES,TODO EN EL MISMO ROW:
TENEMOS UN COL CON LA INFORMACIÓN DE CONTACTO, LUEGO OTRO COL CON EL FORMULARIO
Y AL FINAL UN APARTADO DE MAPA */
.contact-section {						
	background: #151515;
	padding-top: 50px;
	padding-bottom: 50px;
}

.section-title.contact-title {
	text-align: left;
	margin-bottom: 35px;
}

.contact-widget .cw-text {
	overflow: hidden;
	margin-bottom: 35px;
}

.contact-widget .cw-text i {
	font-size: 30px;
	color: #bf6217;
	display: inline-block;
	height: 65px;
	width: 65px;
	background: #363636;
	border-radius: 50%;
	line-height: 65px;
	text-align: center;
	float: left;
	margin-right: 20px;
}

.contact-widget .cw-text p {
	overflow: hidden;
	color: #c4c4c4;
	margin-bottom: 0;
	padding-top: 10px;
}

.contact-widget .cw-text ul {
	overflow: hidden;
	padding-top: 20px;
}

.contact-widget .cw-text ul li {
	list-style: none;
	font-size: 14px;
	color: #c4c4c4;
	margin-right: 25px;
	display: inline-block;
	position: relative;
}

.contact-widget .cw-text ul li:after {
	position: absolute;
	right: -18px;
	top: 0;
	content: "|";
	color: #545454;
}

.contact-widget .cw-text ul li:last-child {
	margin-right: 0;
}

.contact-widget .cw-text ul li:last-child:after {
	display: none;
}

.contact-widget .cw-text.email p {
	padding-top: 20px;
}

.leave-comment h5 {
	font-size: 20px;
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.leave-comment form input {
	font-size: 13px;
	color: #c4c4c4;
	width: 100%;
	height: 46px;
	border: 1px solid #363636;
	padding-left: 20px;
	padding-right: 5px;
	background: transparent;
	margin-bottom: 20px;
}

.leave-comment form input::-webkit-input-placeholder {
	color: #c4c4c4;
}

.leave-comment form input::-moz-placeholder {
	color: #c4c4c4;
}

.leave-comment form input:-ms-input-placeholder {
	color: #c4c4c4;
}

.leave-comment form input::-ms-input-placeholder {
	color: #c4c4c4;
}

.leave-comment form input::placeholder {
	color: #c4c4c4;
}

.leave-comment form textarea {
	font-size: 13px;
	color: #c4c4c4;
	width: 100%;
	height: 100px;
	border: 1px solid #363636;
	padding-left: 20px;
	padding-top: 12px;
	padding-right: 5px;
	background: transparent;
	margin-bottom: 14px;
	resize: none;
}

.leave-comment form textarea::-webkit-input-placeholder {
	color: #c4c4c4;
}

.leave-comment form textarea::-moz-placeholder {
	color: #c4c4c4;
}

.leave-comment form textarea:-ms-input-placeholder {
	color: #c4c4c4;
}

.leave-comment form textarea::-ms-input-placeholder {
	color: #c4c4c4;
}

.leave-comment form textarea::placeholder {
	color: #c4c4c4;
}

.leave-comment form button {
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	width: 100%;
	border: none;
	padding: 14px 0 12px;
	background: #bf6217;
}

.map {
	height: 550px;
	margin-top: 35px;
}

.map iframe {
	width: 100%;
}

/*******FOOTER********/                   /*AÑADIMOS COLOR DE FONDO DE FOOTER Y AÑADIMOS PADDING*/
.color-footer {
	background: #bf6217;
}

.footer-row {
	padding-top: 2%;
}